@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root[data-theme="light"] {
        --my-blue: 200 255 255;
        --dark-acc: 37 42 48;
        --light-acc: 255 255 255;
        --glow: 0 0 0;
        --foreground-rgb: 255 255 255;
        --background-start-rgb: 0 150 200;
        --background-end-rgb: 0 50 100;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --my-blue: 0 192 255;
            --dark-acc: 16 16 16;
            --light-acc: 198 198 198;
            --glow: 255 255 255;
            --foreground-rgb: 255 255 255;
            --background-start-rgb: 25 25 25;
            --background-end-rgb: 10 30 50;
        }
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

/* TYPE-WRITE  */

.typewrite {
    overflow: visible;
    width: max-content;
}

.typewrite-text {
    color: rgb(var(--my-blue));
    font-weight: bolder;
    font-size: xx-large;
    border-right: 5px solid;
    text-shadow: #ffffff39 3px 6px 9px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        cursor 0.4s step-end infinite alternate,
        typing 9s steps(var(--stepCount), start) infinite;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    9% {
        width: 100%;
    }

    90% {
        width: 100%;
    }

    99% {
        width: 0%;
    }

    to {
        width: 0%;
    }
}

#wave {
    text-shadow: 3px 3px 25px;
}

/* NIGHT/LIGHT TOGGLE  */

.toggle-container {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 8px;
    user-select: none;
}

.toggle-switch {
    box-sizing: border-box;
    display: flex;
    box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.6);
    padding: 10px;
    position: absolute;
    z-index: 1000;
    align-items: center;
    border-radius: 20px;
    transform: translateX(20px);
    transition:
        transform 1s ease,
        box-shadow 1s ease;
}

.toggle-switch.alt {
    transform: translateX(0px);
    box-shadow: -2px 1px 5px 0px rgba(0, 0, 0, 0.6);
}

/* MOB MENU  */
.mob-menu.tray.anim {
    animation: fadeIn 1s ease forwards;
}

.mob-menu.icon.bar {
    transition:
        transform 1s ease,
        opacity 0.5s ease;
}

.mob-menu.icon.close .mob-menu.icon.bar:nth-child(1) {
    transform: rotate(-45deg) translate(-12px, 10px);
}

.mob-menu.icon.close .mob-menu.icon.bar:nth-child(2) {
    opacity: 0;
}

.mob-menu.icon.close .mob-menu.icon.bar:nth-child(3) {
    transform: rotate(45deg) translate(5px, -17px);
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

/* SPLASH */
.splash {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    max-width: 100%;

    position: fixed;

    z-index: 999;

    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));

    animation: fadeOut 1s ease 0.9s forwards;
}

#F {
    transform: translateY(-25%);
    animation: slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

#T {
    transform: translateY(25%);
    animation: slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes slide {
    to {
        transform: translateY(0%);
    }
}

/* BACKDROP SPIN */

#backdrop {
    transform-origin: center;
    animation: spin 20s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* OTHER */
#wave {
    text-shadow: 3px 3px 25px #b8b8b8;
}
