@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --my-blue: #00c0ff;
        --tog: #252a3064;
        --tog-but: #ffffff;
        --glow: #000;
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 100, 200;
        --background-end-rgb: 0, 50, 100;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bue: #00c0ff;
        --tog: #101010;
        --tog-but: #c6c6c6;
        --glow: #fff;
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 25, 25, 25;
        --background-end-rgb: 10, 10, 10;
    }
}

#wave {
    text-shadow: 3px 3px 25px #b8b8b8;
}
body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.typewrite {
    overflow: visible;
    width: max-content;
}

.typewrite-text {
    color: var(--bue);
    font-weight: bolder;
    font-size: xx-large;
    border-right: 5px solid;
    text-shadow: #ffffff39 3px 6px 9px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        cursor 0.4s step-end infinite alternate,
        typing 9s steps(var(--stepCount), start) infinite;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    9% {
        width: 100%;
    }

    90% {
        width: 100%;
    }

    99% {
        width: 0%;
    }

    to {
        width: 0%;
    }
}

.splash {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    max-width: 100%;

    position: fixed;

    z-index: 999;

    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));

    animation: fadeOut 1s ease 0.9s forwards;
}

#FT {
    transform-origin: 55% 45%;
}

#F {
    transform: translateX(45%) translateY(-50%);
    animation: slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

#T {
    transform: translateX(45%) translateY(50%);
    animation: slide 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes slide {
    to {
        transform: translateX(45%) translateY(0%);
    }
}

.toggle-container {
    display: flex;
    align-items: center;
    background-color: var(--tog); /* Night mode background color */
    border-radius: 20px;
    padding: 8px;
    user-select: none;
}

.toggle-switch {
    box-sizing: border-box;
    display: flex;
    box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.6);
    padding: 10px;
    position: absolute;
    z-index: 1000;
    align-items: center;
    background-color: var(--tog-but); /* Night mode background color */
    border-radius: 20px;
    transform: translateX(20px);
    transition:
        transform 1s ease,
        box-shadow 1s ease;
}

.toggle-switch.alt {
    transform: translateX(0px);
    box-shadow: -2px 1px 5px 0px rgba(0, 0, 0, 0.6);
}

.mob-menu.tray.anim {
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

.mob-menu.icon.bar {
    transition:
        transform 1s ease,
        opacity 0.5s ease;
}

.mob-menu.icon.close .mob-menu.icon.bar:nth-child(1) {
    transform: rotate(-45deg) translate(-12px, 10px);
}

.mob-menu.icon.close .mob-menu.icon.bar:nth-child(2) {
    opacity: 0;
}

.mob-menu.icon.close .mob-menu.icon.bar:nth-child(3) {
    transform: rotate(45deg) translate(5px, -17px);
}
