@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.typewrite {
    display: inline-block;
}

.typewrite-text {
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing-backspace 5s steps(86),
        cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes typing-backspace {
    from {
        width: 100;
    }
    to {
        width: 0;
    }
}

.splash {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    max-width: 100%;

    position: fixed;

    justify-content: center;

    z-index: 999;

    background-color: black;

    animation: fadeOut 0.8s ease 1.3s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.toggle-input {
    display: none;
}

.toggle-label {
    cursor: pointer;
    width: 50px;
    height: 26px;
    background-color: #ccc;
    border-radius: 13px;
    position: relative;
    transition: background-color 0.3s;
}

.toggle-label:before {
    content: "";
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.toggle-input:checked + .toggle-label {
    background-color: #4caf50; /* Green color for night mode */
}

.toggle-input:checked + .toggle-label:before {
    transform: translateX(24px);
}
